html 
    head 
        title 挨拶
        link(rel="stylesheet", href="css/sample.css")
    body 
        main 
            .content 
                // 左側のコンテンツ
                .leftContent 
                    h2 Sass Tutorial 
                // 右側のコンテンツ
                .rightContent 
                    p Lorem ipsum dolora molest!
                    button And More 


